<nav class="navbar navbar-expand-lg border-bottom navbar-light bg-white">
  <a class="navbar-brand" href="#">Scanner SF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav ml-auto" >

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      {{authService.loggedUser}}
    </a>
    <div class="dropdown-menu">

    <a  class="dropdown-item"  (click) = "onLogout()"><span class="material-icons">
      logout
      </span>logout</a>
    </div>
    </li>
    </ul>
</nav>