#sficon{
    width: 190px;
    height: 123px;
}

.login-form{
    box-shadow: 0px 0px 10px #888;
padding: 20px;
}

.my-auto{
    margin-top: auto;
margin-bottom: auto;
}

.login-wrap{
    margin-top: 15%;
}
h2{
    text-align: center;
    margin-bottom: 13%;
}
body{
    background-color: #f4f4f4;
}